In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('../train.csv')

In [4]:
print(train.shape)
train.head()

(617, 58)

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
0,000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,...,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343,1
1,007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,...,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000,0
2,013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,...,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941,0
3,043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,...,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829,0
4,044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,...,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614,1

In [ ]:
from supervised import AutoML

In [9]:
algorithms = ["Extra Trees",
                    "LightGBM",
                    "Xgboost",
                    "CatBoost",
                    "Neural Network",
                    "Nearest Neighbors"]

In [10]:
model = AutoML(mode='Compete', model_time_limit=3000, eval_metric='logloss', algorithms = algorithms)

In [8]:
target = train.Class
train_df = train.drop('Class',axis=1)

In [ ]:
model.fit(train_df, target)

In [24]:
model = AutoML(results_path = 'AutoML_1')

In [17]:
test = pd.read_csv('../test.csv')

In [28]:
num_cols = train._get_numeric_data().columns

In [30]:
list(set(train)-set(num_cols))

['Id', 'EJ']

In [33]:
train.EJ.value_counts()

EJ
B    395
A    222
Name: count, dtype: int64